.button{
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    &:hover {
        background: #5a49c7;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

}